/** @format */
* {
  margin: 0px;
  padding: 0px;
}

#table-style {
  
  justify-content: center;
}

table, th, td {
  table-layout: fixed;
  border: 1px solid;
  padding: 0px;
}

table {
  margin-top: 20px;
}

th {
  padding: 10px;
}

.App {
  text-align: center;
  border: 5px;
  padding: 0px;
  margin: 0px;
}


